


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."gdelt_daily_tone" (
    "id" bigint NOT NULL,
    "date" "date" NOT NULL,
    "average_tone" double precision,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."gdelt_daily_tone" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."gdelt_daily_tone_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."gdelt_daily_tone_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."gdelt_daily_tone_id_seq" OWNED BY "public"."gdelt_daily_tone"."id";



CREATE TABLE IF NOT EXISTS "public"."spotify_regional_charts" (
    "id" bigint NOT NULL,
    "rank" integer,
    "previous_rank" integer,
    "peak_rank" integer,
    "peak_date" "text",
    "appear_on_chart" "text",
    "track_name" "text",
    "track_uri" "text" NOT NULL,
    "artists" "text",
    "artist_uris" "text",
    "release_date" "text",
    "chart_date" "date" NOT NULL,
    "chart_type" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."spotify_regional_charts" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."spotify_regional_charts_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."spotify_regional_charts_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."spotify_regional_charts_id_seq" OWNED BY "public"."spotify_regional_charts"."id";



CREATE TABLE IF NOT EXISTS "public"."spotify_viral_charts" (
    "id" bigint NOT NULL,
    "rank" integer,
    "previous_rank" integer,
    "peak_rank" integer,
    "peak_date" "text",
    "appear_on_chart" "text",
    "track_name" "text",
    "track_uri" "text" NOT NULL,
    "artists" "text",
    "artist_uris" "text",
    "release_date" "text",
    "chart_date" "date" NOT NULL,
    "chart_type" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."spotify_viral_charts" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."spotify_viral_charts_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."spotify_viral_charts_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."spotify_viral_charts_id_seq" OWNED BY "public"."spotify_viral_charts"."id";



CREATE TABLE IF NOT EXISTS "public"."track_features" (
    "id" bigint NOT NULL,
    "track_id" "text" NOT NULL,
    "track_name" "text",
    "artists" "text",
    "track_uri" "text",
    "release_date" "text",
    "tempo" double precision,
    "duration" double precision,
    "energy" double precision,
    "danceability" double precision,
    "happiness" double precision,
    "acousticness" double precision,
    "instrumentalness" double precision,
    "liveness" double precision,
    "speechiness" double precision,
    "loudness_db" double precision,
    "popularity" integer,
    "key" "text",
    "mode" "text",
    "camelot" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."track_features" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."track_features_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."track_features_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."track_features_id_seq" OWNED BY "public"."track_features"."id";



ALTER TABLE ONLY "public"."gdelt_daily_tone" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."gdelt_daily_tone_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."spotify_regional_charts" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."spotify_regional_charts_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."spotify_viral_charts" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."spotify_viral_charts_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."track_features" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."track_features_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."gdelt_daily_tone"
    ADD CONSTRAINT "gdelt_daily_tone_date_key" UNIQUE ("date");



ALTER TABLE ONLY "public"."gdelt_daily_tone"
    ADD CONSTRAINT "gdelt_daily_tone_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spotify_regional_charts"
    ADD CONSTRAINT "spotify_regional_charts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spotify_regional_charts"
    ADD CONSTRAINT "spotify_regional_charts_track_uri_chart_date_key" UNIQUE ("track_uri", "chart_date");



ALTER TABLE ONLY "public"."spotify_viral_charts"
    ADD CONSTRAINT "spotify_viral_charts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spotify_viral_charts"
    ADD CONSTRAINT "spotify_viral_charts_track_uri_chart_date_key" UNIQUE ("track_uri", "chart_date");



ALTER TABLE ONLY "public"."track_features"
    ADD CONSTRAINT "track_features_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."track_features"
    ADD CONSTRAINT "track_features_track_id_key" UNIQUE ("track_id");



CREATE INDEX "idx_gdelt_date" ON "public"."gdelt_daily_tone" USING "btree" ("date");



CREATE INDEX "idx_regional_charts_date" ON "public"."spotify_regional_charts" USING "btree" ("chart_date");



CREATE INDEX "idx_regional_charts_track_uri" ON "public"."spotify_regional_charts" USING "btree" ("track_uri");



CREATE INDEX "idx_track_features_track_id" ON "public"."track_features" USING "btree" ("track_id");



CREATE INDEX "idx_track_features_track_uri" ON "public"."track_features" USING "btree" ("track_uri");



CREATE INDEX "idx_viral_charts_date" ON "public"."spotify_viral_charts" USING "btree" ("chart_date");



CREATE INDEX "idx_viral_charts_track_uri" ON "public"."spotify_viral_charts" USING "btree" ("track_uri");



CREATE POLICY "Allow anonymous inserts" ON "public"."gdelt_daily_tone" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow anonymous inserts" ON "public"."spotify_regional_charts" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow anonymous inserts" ON "public"."spotify_viral_charts" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow anonymous inserts" ON "public"."track_features" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow anonymous reads" ON "public"."gdelt_daily_tone" FOR SELECT USING (true);



CREATE POLICY "Allow anonymous reads" ON "public"."spotify_regional_charts" FOR SELECT USING (true);



CREATE POLICY "Allow anonymous reads" ON "public"."spotify_viral_charts" FOR SELECT USING (true);



CREATE POLICY "Allow anonymous reads" ON "public"."track_features" FOR SELECT USING (true);



CREATE POLICY "Allow anonymous updates" ON "public"."gdelt_daily_tone" FOR UPDATE USING (true) WITH CHECK (true);



CREATE POLICY "Allow anonymous updates" ON "public"."track_features" FOR UPDATE USING (true) WITH CHECK (true);



ALTER TABLE "public"."gdelt_daily_tone" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."spotify_regional_charts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."spotify_viral_charts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."track_features" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TABLE "public"."gdelt_daily_tone" TO "anon";
GRANT ALL ON TABLE "public"."gdelt_daily_tone" TO "authenticated";
GRANT ALL ON TABLE "public"."gdelt_daily_tone" TO "service_role";



GRANT ALL ON SEQUENCE "public"."gdelt_daily_tone_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."gdelt_daily_tone_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."gdelt_daily_tone_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."spotify_regional_charts" TO "anon";
GRANT ALL ON TABLE "public"."spotify_regional_charts" TO "authenticated";
GRANT ALL ON TABLE "public"."spotify_regional_charts" TO "service_role";



GRANT ALL ON SEQUENCE "public"."spotify_regional_charts_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."spotify_regional_charts_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."spotify_regional_charts_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."spotify_viral_charts" TO "anon";
GRANT ALL ON TABLE "public"."spotify_viral_charts" TO "authenticated";
GRANT ALL ON TABLE "public"."spotify_viral_charts" TO "service_role";



GRANT ALL ON SEQUENCE "public"."spotify_viral_charts_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."spotify_viral_charts_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."spotify_viral_charts_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."track_features" TO "anon";
GRANT ALL ON TABLE "public"."track_features" TO "authenticated";
GRANT ALL ON TABLE "public"."track_features" TO "service_role";



GRANT ALL ON SEQUENCE "public"."track_features_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."track_features_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."track_features_id_seq" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







